*{

    max-width: 1440px;
    max-height: 768px;

    /*margin-left: 100px;*/
    /*margin-right: 50px;*/
    
    color: white;


}

main{

    /*margin: 0px;
    padding: 0px;*/

}

   #logoprincipal a img{

    max-height: 150px;
    margin-top: 10px;
    margin-bottom: 0px;

    /*border: 2px yellow solid;*/
    
   }

    #logomenu{
        margin-left: 1150px;
        margin-top: -35px;
    }
        #logomenu img{
                                
            max-height: 40px;
            margin-right: 10px;

            cursor: pointer;

            /*border: 2px yellow solid;*/
        }

            #logomenu img:hover{
                                    
                /*box-shadow: rgba(255, 0, 0, 0.6) 10px 50px 36px 28px inset;*/

                box-shadow: rgba(160, 0, 0, 0.09) 0px 2px 1px, rgba(140, 0, 0, 0.09) 0px 4px 2px, rgba(120, 0, 0, 0.09) 0px 8px 4px, rgba(100, 0, 0, 0.09) 0px 16px 8px, rgba(80, 0, 0, 0.09) 0px 32px 16px;

                /*box-shadow: rgba(82, 11, 3, 0.01) 0px 5px, rgba(99, 14, 14, 0.001) 0px 10px, rgba(220, 0, 0, 0.0001) 0px 15px, rgba(240, 0, 0, 0.015) 0px 20px, rgba(255, 0, 0, 0.1) 0px 25px;*/
                
                /*border-radius: 30px 30px 30px;
                box-shadow: 1px 1px 10px 10px rgba(255, 0, 0, 0.6);
                /*margin-right: 10px;

                /*border: 2px yellow solid;*/
            }


                   
main hr{

    margin-top: 20px;
}


body {

    background: black;

}

