*{

    max-width: 1440px;
    max-height: 768px;

    color: white;
    /*background-color: black;*/   

    /*margin: 0px;
    padding: 0px;

    border: 2px yellow solid;*/
}

nav ul{

    margin-left: 1190px;
}


    /*nav div{

        margin-bottom: -50px;

    }*/

            nav div img{

                max-height: 20px;

                cursor: pointer;

                margin-bottom: -48px;
                padding: 1px;


            }


                    nav ul li{
                        
                        display: inline-block;

                        font-size: 16px;

                        margin: 3px;

                        
                        list-style-type: none;
                    }

                            nav ul li:hover {

                                font-size: 20px;

                                text-shadow: 5px 5px rgba(255,0,0,0.4);

                                cursor: pointer;

                            }


    nav ul li a{

        text-decoration: none;

    } 
    
    /*nav hr{

        margin: 0px;
    }*/

body{

    position: relative;
    background-color: black;   

    /*border: 2px yellow solid;*/
}

.modelo{

    /*overflow: auto; /* Não deixa ultrapassar a tag mãe, criando um scroll*/

    margin: 60px;
    padding: 2px;
    margin-bottom: 3500px;
    position: relative;

    /*border: 2px yellow solid;*/

}

    .modelo h1{

        text-align: center;
        margin: 10px;

    }

        .modelo h3{

            text-align: right;
            font-size: 16px;
            margin-top: 50px;
        }

            .modelo h4{

                text-align: right;
                font-size: 12px;
                margin-top: -10px;
                margin-bottom: 80px;
            }

.imagens{

    width: 60%;
    height: auto;
    
    position: relative;
    padding-left: 20%;
    padding-right: 20%;

    /*border: 2px yellow solid;*/
}

.paragrafo{

    text-align: justify;
    font-size: 20px;
    margin: 40px;

    /*padding-left: 30%;
    padding-right: 30%;*/


    /*border: 2px yellow solid;*/
}

#estrelas{

    width: auto;
    height: auto;

    margin-left: 1150px;    

    display:flex;

    /*border: 2px yellow solid;*/
}

    #estrelas img{
        max-height: 32px;
        padding: 2px;
    }

            #estrelas p{
                margin: 0px;
                padding: 3px 3px 3px 8px;
                font-size: 30px;
            }


#trailer{

    position: relative;

    margin-top: 80px;

    padding-left: 25%;
    padding-right: 25%;


    /*border: 2px yellow solid;*/
    
}

footer div{
    margin-top: 20px;
    margin-bottom: 80px;
    padding-top: 0px;
    padding-bottom: 50px;
    /*border: 2px yellow solid*/
    
    
    
}

        footer h3{
            
            padding-right: 30px;
            display: inline;            
            /*border: 2px yellow solid*/
        }

              

                